body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input{
  width: 400px;
  height: 20px;
}

.Grid{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.Center-text{
  text-align: center;
  margin-top:100px
}

.Center{
  margin-left: 270px;
  height: 30px;
}


.label{
  margin-bottom: 20px;
  margin-top: 10px;
}

.button{
  width: 38%;
  padding: 5%;
  margin-left: 282px;
  margin-top: 20px;
}

img{
  margin-left: 233px;
}